"*":
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "bd62efa6-1cd0-4b6f-b3ba-2e02c3b7ad08"
  welcome:
    showOnStartup: false
