[Unit]
Description=archivebox service

[Service]
type=simple
ExecStart=/bin/bash /home/jakeg/Extras/archivebox/run.sh

[Install]
WantedBy=multi-user.target
